

.middle-box{
    min-width: 230px;
    min-height: 190px;
    max-width: 600px;
    max-height: 500px;
    box-shadow: -1px -1px 10px 4px;
    position: absolute;
    background: white;
    top: 50%;
    border-top: 5px solid green;
    border-radius: 0.4em;
    right: 50%;
    transform: translate(50%, -50%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: transform 400ms ease 0ms;
} 
.Alert-Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height:20px ;
}
.Alert-Header span{
    padding: 5px;
    cursor: pointer;
    font-size: small;  
}
.Alert-Header h6{
    padding: 5px;
}